<a href="https://colab.research.google.com/github/MarvelousAlex/Python_Data_Analysis/blob/main/12_Operators_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators Part 2

## Notes

* **Operators** are used to perform operations on variables and values.
* In this notebook we'll go over the rest of the operator groups:
  * Logical operators
  * Identity operators
  * Membership operators
  * Bitwise operators

## Importance

**Logical operators** are used for combining conditional statements, **identity operators** for comparing object identities, **membership operators** for testing data presence in sequences, and **bitwise operators** for manipulating individual bits, all are vital for complex data operations in Python.

### Logical Operators

Logical operators connect two or more conditions and evaluate the truth or falsity of the conditions combined.

| Operator | Name     | Example |
|----------|----------|---------|
| and      | Logical AND | x and y |
| or       | Logical OR  | x or y  |
| not      | Logical NOT | not x   |

In [2]:
This_is_false = not True

This_is_false

False

In [3]:
job_status_A = False
job_status_B = True

job_status_A and job_status_B

False

In [4]:
job_status_A or job_status_B

True

### Identity Operators

Identity operators check if two variables occupy the same memory location, i.e., are identical.

| Operator | Name               | Example   |
|----------|--------------------|-----------|
| is       | Identity           | x is y    |
| is not   | Not identity       | x is not y|

In [7]:
salary_A = 10_000
salary_B = 20_000

salary_A is salary_B

False

In [9]:
skills_A = ['A', 'B', 'C,', 'D']
skills_B = skills_A

skills_A is skills_B

True

### Membership Operators

Membership operators test for membership in a sequence, such as strings, lists, or tuples.

| Operator | Name            | Example   |
|----------|-----------------|-----------|
| in       | Membership      | x in y    |
| not in   | Not membership  | x not in y|

In [10]:
'Data' in 'Data Nerd'

True

In [11]:
'data' in 'Data Nerd'

False

In [12]:
# is 100 inside of 100,000

100 in 100_000

TypeError: argument of type 'int' is not iterable

In [13]:
# is '100' inside of '100,000'

'100' in '100_000'

True

In [14]:
100 in [100, 200, 300]

True

In [15]:
'Python' in ['Python', 'R', 'SQL']

True

### Bitwise Operators

Bitwise operators perform bit-by-bit operations on binary numbers.

| Operator | Name        | Example |
|----------|-------------|---------|
| &        | Bitwise AND | x & y   |
| \|       | Bitwise OR  | x \| y  |
| ^        | Bitwise XOR | x ^ y   |
| ~        | Bitwise NOT | ~x      |
| <<       | Left Shift  | x << y  |
| >>       | Right Shift | x >> y  |

P.S. Bitwise operations are beyond the scope of using Python for Data Analytics.  
P.S.S. You could technically use `&` and `|` in place of `and` and `or` for Boolean comparison, BUT it's less readable.  
P.S.S.S. You'll see the `&` and `|` operators pop up again when we cover Pandas.

In [16]:
print(True & False)
print(True | False)

False
True

### NOTE:
The technical use case is for bit-wise operation (shown below).

In [17]:
x = 10  # binary 1010
y = 4   # binary 0100
result = x & y  # binary 0000 -> decimal 0

result

0

In [18]:
x = 10  # binary 1010
y = 4   # binary 0100
result = x | y  # binary 1110 -> decimal 14

result

14