In [ ]:
# Object: everyting in python is an object
# Classes, Variables, Lists, Dicts, etc.

# Define Variable
a = 5
Fruit = "Apple"

# Define Function
def SayHello():
    print("Hello World")

SayHello()

# Define Class
class Fruits:
    def __init__(self, name, color):
        self.name = name
        self.color = color
    
    def teste(self, taste):
        print(taste)
    
# Call method
Apple = Fruits("Apple", "Red")
Apple.teste("Good!!")

# Example of Attribute
print(f"The color of this apple is {Apple.color}")

Hello World
Good!!
The color of this apple is Red

In [13]:
# Importing Libraries
import ast
import pandas as pd
import seaborn as sns
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [28]:
# # Job Postings Count
len(df)

# # Job information 
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  str
 1   job_title              785740 non-null  str
 2   job_location           784696 non-null  str
 3   job_via                785733 non-null  str
 4   job_schedule_type      773074 non-null  str
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  str
 7   job_posted_date        785741 non-null  datetime64[us]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  str
 11  salary_rate            33067 non-null   str
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  str
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  str
 17  salary_from_hour       10662 non-null   float64
 18  salary_annual          32665 non-null   float64
dtypes: bool(3), datetime64[us](1), float64(4), object(1), str(10)
memory usage: 244.2+ MB

In [29]:
# Calculate Total Compensation
# 1- Annualized hourly salary
df["salary_from_hour"] = df["salary_hour_avg"] * 2080
# 2- Combine yearly + converted hourly
df["salary_annual"] = df["salary_year_avg"].fillna(df["salary_from_hour"])
# 3- 
comp_by_title = (
    df.groupby("job_title_short")["salary_annual"]
    .mean()
    .sort_values(ascending=False)
)
print(comp_by_title.head())

job_title_short
Senior Data Scientist        147485.876795
Senior Data Engineer         142630.387791
Data Engineer                126377.357802
Data Scientist               125875.761157
Machine Learning Engineer    124855.908041
Name: salary_annual, dtype: float64

In [ ]:
# Calculate Monthly Salary
# Convert hourly salary to annual equivalent
df["salary_from_hour"] = df["salary_hour_avg"] * 2080

# Use yearly salary if available, otherwise converted hourly
df["salary_annual"] = df["salary_year_avg"].fillna(df["salary_from_hour"])

df["salary_monthly"] = df["salary_annual"] / 12

# df[["salary_year_avg", "salary_hour_avg", "salary_monthly"]].head()

average_monthly_salary = df["salary_monthly"].mean(skipna=True)
print(f"Average Monthly Salary: ${average_monthly_salary:,.2f}")

Average Monthly Salary: $9,580.47

In [ ]:
# TODO: Calculate Total Compensation with Bonus???
# Convert hourly to annual
df["salary_from_hour"] = df["salary_hour_avg"] * 2080

# Create unified annual salary
df["salary_annual"] = df["salary_year_avg"].fillna(df["salary_from_hour"])

In [42]:
# Check Data Types 
job_title = 'Data Scientist'
salary = 85000.50
salary_rate = 120000.75
company_name = 'DataWiz Inc.'

print(f"{type(job_title)}, {type(salary)}, {type(salary_rate)}, {type(company_name)}")

<class 'str'>, <class 'float'>, <class 'float'>, <class 'str'>