List

In [1]:
# Access Second Job Title
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
second_job_title = job_titles[1]
print(second_job_title)

Data Analyst

In [2]:
# Change Third Job Title
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles[2] = 'AI Engineer'
print(job_titles)

['Data Scientist', 'Data Analyst', 'AI Engineer']

In [3]:
# Slice Job Titles List
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']
first_two_job_titles = job_titles[:2]
print(first_two_job_titles)

['Data Scientist', 'Data Analyst']

In [4]:
# Append Job Title
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.append('Data Engineer')
print(job_titles)

['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']

In [5]:
# Insert Job Title
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.insert(1, 'Data Engineer')
print(job_titles)

['Data Scientist', 'Data Engineer', 'Data Analyst', 'Machine Learning Engineer']

Dictionary

In [6]:
# Access Job Postings
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
data_scientist_postings = job_postings['Data Scientist']
print(data_scientist_postings)

120

In [7]:
# Add Job Role
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings['Data Engineer'] = 70
print(job_postings)

{'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50, 'Data Engineer': 70}

In [8]:
# Remove Job Role
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings.pop('Data Analyst')
print(job_postings)

{'Data Scientist': 120, 'Machine Learning Engineer': 50}

In [9]:
# Merge Dictionaries
job_postings1 = {'Data Scientist': 120, 'Data Analyst': 80}
job_postings2 = {'Machine Learning Engineer': 50, 'AI Specialist': 30}
job_postings1.update(job_postings2)
print(job_postings1)

{'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50, 'AI Specialist': 30}

In [10]:
# Create Nested Dictionary
job_postings = {
    'Data Scientist': {'Postings': 120, 'Average Salary': 120000},
    'Data Analyst': {'Postings': 80, 'Average Salary': 80000},
    'Machine Learning Engineer': {'Postings': 50, 'Average Salary': 130000}
}
print(job_postings)

{'Data Scientist': {'Postings': 120, 'Average Salary': 120000}, 'Data Analyst': {'Postings': 80, 'Average Salary': 80000}, 'Machine Learning Engineer': {'Postings': 50, 'Average Salary': 130000}}

Set

In [11]:
# Add Job Title to Set
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.add('Data Engineer')
print(unique_job_titles)

{'Data Scientist', 'Data Engineer', 'Data Analyst', 'Machine Learning Engineer'}

In [12]:
# Remove Job Title from Set
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.remove('Data Analyst')
print(unique_job_titles)

{'Data Scientist', 'Machine Learning Engineer'}

In [13]:
# Create Unique Job Locations Set
job_locations = ['New York', 'San Francisco', 'New York', 'Austin', 'San Francisco']
unique_job_locations = set(job_locations)
print(unique_job_locations)

{'Austin', 'San Francisco', 'New York'}

In [14]:
# Union of Job Skills Sets
skills_set1 = {'Python', 'SQL', 'Tableau'}
skills_set2 = {'R', 'SQL', 'Machine Learning'}
all_skills = skills_set1.union(skills_set2)
print(all_skills)

{'Tableau', 'Python', 'SQL', 'Machine Learning', 'R'}

Tuples

In [16]:
# Access Job Role
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
first_job_role = job_roles[0]
print(first_job_role)

Data Scientist

In [17]:
# Add Job Role to Tuple
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles += ('Data Engineer',)
print(job_roles)

('Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer')

In [18]:
# Remove Job Role from Tuple
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles = tuple(role for role in job_roles if role != 'Data Analyst')
print(job_roles)

('Data Scientist', 'Machine Learning Engineer')

In [19]:
# Unpack Job Postings Tuple
job_postings = (120, 80, 50)
data_scientist_postings, data_analyst_postings, ml_engineer_postings = job_postings
print(data_scientist_postings)
print(data_analyst_postings)
print(ml_engineer_postings)

120
80
50

In [20]:
# Extract Nested Value from Tuple
job_details = (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50))
data_scientist_details = job_details[0]
print(data_scientist_details)

('Data Scientist', 120)