In [1]:
# Check Object Identity
job_title1 = 'Data Engineer'
job_title2 = 'Data Scientist'
print(job_title1 is job_title2)

False

In [2]:
# Check Memership in List
job_locations = ['New York', 'San Francisco', 'Austin']
print('New York' in job_locations)

True

In [3]:
# Check Substring Not in String
job_title = 'Data Analyst'
job_description = 'Data Scientist at Tech Corp'
print(job_title not in job_description)

True

In [4]:
# Check Multiple Memberships
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
print('Data Scientist' in job_titles and 'Data Analyst' in job_titles)

True

In [ ]:
# Bitwise OR Operation 
salary1 = 100000
salary2 = 50000
print(salary1 | salary2)
'''
100000 = 11000011010100000
 50000 = 01100001101010000
--------------------------------------------
Result = 11100011111110000
'''

116720