In [1]:
# Print Job Titles
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
for title in job_titles:
    print(title)

Data Scientist
Data Analyst
Machine Learning Engineer

In [2]:
# Total Job Posrtings
job_postings = [5, 10, 15, 20, 25]
total_postings = 0
for postings in job_postings:
    total_postings += postings
print(total_postings)

75

In [3]:
# Print Job Titles with Index
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
for index, title in enumerate(job_titles):
    print(f"{index}: {title}")

0: Data Scientist
1: Data Analyst
2: Machine Learning Engineer

In [ ]:
# Find First Engineer
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']
for title in job_titles:
    if 'Engineer' in title:
        print(f"First Engineer: {title}")
        break

First Engineer: Machine Learning Engineer

In [5]:
# Print Job Titkles Containing 'Data'
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}
for position, skills in positions_skills.items():
    if 'Data' in position:
        print(f"{position}: {skills}")

Data Scientist: ['Python', 'R']
Data Analyst: ['SQL', 'Excel']